body{background-color: red;
		text-align: center;}

	h2{text-decoration: underline;}

	#title{font-size: 200%}

	#aboutMe{font-size: 120%;}

	form{
		margin: 0 auto;
		width: 500px;
		padding: 15px;
		background-color: white;
		border-style: solid;
		font-weight: bold;
		border-color:black;
		
	}

	input[type=buton]{

	}

	table{margin: 0 auto;
		width: 500px;	}

	ol{font-weight: bold;
		margin: 0 auto;
		width: 200px;}

	a{color: purple;}

	p{font-size: 85%;}